
body {
    background-color: #e9c2e0;
}
header {
    background-color: #333;
    color: #ac4a4a;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

#titulo { 
     margin-bottom: 15px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px; }
   
    nav ul {padding: 0px;
    }  

 #menuPrincipal ul li {
    display: inline;
margin-top: 0px;
margin-top: 0px;
margin-left: 15px;
margin-right: 15px;
   }
   .enlaceMenuPrincipal {
    text-decoration: none;
    color: #002fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
   }
   #tituloSeccion {
    background-color: #333;
    color: #cefdb9;
    padding: 10px;
 
   }
   .socrates   {
    border: 1px solid #682c2c;
    background-color: #b2b9f3;
    padding: 10px;
    margin-bottom: 10px;
   }   
   footer {
    background-color: #333;
    color: #ce83c4;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
   }